<h1>Listing paths</h1>

<table>
  <tr>
    <th>Domain</th>
    <th>Path</th>
    <th>Value</th>
    <th>Level</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @paths.each do |path| %>
  <tr>
    <td><%= path.domain %></td>
    <td><%= path.path %></td>
    <td><%= path.value %></td>
    <td><%= path.level %></td>
    <td><%= link_to 'Show', path %></td>
    <td><%= link_to 'Edit', edit_path_path(path) %></td>
    <td><%= link_to 'Destroy', path, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Path', new_path_path %>
