<%= form_for(@content) do |f| %>
  <% if @content.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@content.errors.count, "error") %> prohibited this content from being saved:</h2>

      <ul>
      <% @content.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :container %><br />
    <%= f.text_field :container %>
  </div>
  <div class="field">
    <%= f.label :md5_hash %><br />
    <%= f.text_field :md5_hash %>
  </div>
  <div class="field">
    <%= f.label :text %><br />
    <%= f.text_field :text %>
  </div>

    <div class="control-group">
      <div class="controls"><%= f.submit class: "btn btn-primary btn-small" %></div>
    </div>

<% end %>
