<%= render ("shared/show_notice_or_warning") %>
<%= render("domains/header", :type => 'containers')%>

<div class="navbar navbar-inverse">
  <div class="navbar-inner">
    <span class="brand">Container list</span>
    <ul class="nav pull-right">
      <li><%= link_to "Add Container", new_container_path(domain_id: @domain.id) %></li>
    </ul>
  </div>
</div>

<table class="table table-striped table-hover">
  <tr>
    <th>Name</th>
    <th>X path</th>
    <th>Ignore</th>
    <th></th>
  </tr>

<% @containers = @domain.containers.order("name").page(params[:container]).per(10) %>
<% @containers.each do |container| %>
  <tr>
    <td><%= container.name %></td>
    <td><%= container.x_path %></td>
    <td><%= icon_boolean(container.ignore)%></td>
    <td><div class="btn-group">
      <%=  link_to "Show", container, class: "btn btn-small" %>
      <%=  link_to "Edit", edit_container_path(container), class: "btn btn-small" %>
      <%=  link_to "Delete", container_path(container), method: :delete,  data: { confirm: 'Are you sure?' },  class: "btn btn-danger btn-small"%>
    </div>
    </td>
  </tr>
<% end %>
</table>
