<%= form_for(@page, html: {class: "form-horizontal"}) do |f| %>
    <%= f.hidden_field :domain_id %>
    <% if @page.errors.any? %>
        <div id="errorExplanation"  class="alert alert-error">
          <button type="button" class="close" data-dismiss="alert">×</button>
          <h3><%= pluralize(@page.errors.count, "error") %> prohibited
            this Url from being saved:</h3>
          <ul>
            <% @page.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="control-group">
      <%=  f.label :active, "Active", class: "control-label" %>
      <div class="controls"><%= f.check_box :active %></div>
    </div>


    <div class="control-group">
      <%=  label_tag "url", "Url", class: "control-label" %>
      <div class="controls"><%= text_field_tag "url", WebPageAnalyser.get_url(@page), class: "input-xxlarge" , placeholder: "Path" %></div>
    </div>


    <div class="control-group">
      <div class="controls"><%= f.submit class: "btn btn-primary" %>
        <%= link_to "Back", pages_path(domain_id: @page.domain_id),  class: "btn btn-danger " %>
      </div>
    </div>
<% end %>