<%= render("shared/show_notice_or_warning") %>
<%= render("domains/header", :type => 'pages')%>

<div class="navbar navbar-inverse">
  <div class="navbar-inner">
    <span class="brand">Page list</span>
    <ul class="nav pull-right">
      <li><%= link_to "Add Page", new_page_path(domain_id: @domain.id) %></li>
    </ul>
  </div>
</div>

<table class="table table-striped table-hover">
  <tr>
    <th>&nbsp;</th>
    <th>Status</th>
    <th>Area</th>
    <th>Title</th>
    <th colspan="3">Actions</th>
  </tr>
  <tr>
    <th>&nbsp;</th>
    <th><%= collection_select(:page, :status, Property.where("property_group_id = 1"), :id, :name, {:prompt => true}, class:"input-small")%></th>
    <th><%= collection_select(:page, :status, Area.where("domain_id = ?", @domain.id), :id, :name, {:prompt => true}, class:"input-small")%></th>
    <th></th>
    <th></th>
  </tr>

  <% @pages.each do |page|%>
      <tr>
        <td><% unless page.active %><i class="icon-ban-circle" title="Inactive"></i><% end %></td>
        <td><%= status_badge(page.status) %></td>
        <td><%= page.area ? page.area.name : ""  %></td>
        <td><%= link_to page.title.empty? ? truncate(page.path, length:60) : truncate(page.title, length:60) ,
                        page.domain.scheme + "://" +
                                page.domain.domain +
                                (page.domain.port? ? ":" + page.domain.port : "") +
                                page.path,
                        target: "_blank", title: page.path  %></td>
        <td><div class="btn-group">
          <%=  link_to "Show", page, class: "btn btn-small" %>
          <%=  link_to "Edit", edit_page_path(page,page: params[:page]), class: "btn btn-small" %>
          <%=  link_to "Delete", page_path(page), method: :delete,  data: { confirm: 'Are you sure?' },  class: "btn btn-danger btn-small"%>
        </div>
        </td>
      </tr>
  <%end%>
</table>

<%= paginate @pages %>