<%= form_for(@domain, html: {class: "form-horizontal"}) do |f| %>
    <% if @domain.errors.any? %>
        <div id="errorExplanation"  class="alert alert-error">
          <button type="button" class="close" data-dismiss="alert">×</button>
          <h3><%= pluralize(@domain.errors.count, "error") %> prohibited
            this domain from being saved:</h3>
          <ul>
            <% @domain.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>


        <div class="row">
          <div class="span6">
            <div class="control-group">
              <%=  f.label :active, "Active", class: "control-label" %>
              <div class="controls"><%= f.check_box :active %></div>
            </div>
            <div class="control-group<% if @domain.errors["name"].any? %> error<% end %>">
              <%=  f.label :name, "Name", class: "control-label" %>
              <div class="controls"> <%= f.text_field :name , placeholder: "Name" %></div>
            </div>
            <div class="control-group">
              <%=  f.label :description, "Description", class: "control-label" %>
              <div class="controls"><%= f.text_area :description , placeholder: "Description", rows: 4 %></div>
            </div>
          </div>
          <div class="span6">
            <div class="control-group<% if @domain.errors["scheme"].any? %> error<% end %>">
              <%=  f.label :scheme, "Scheme", class: "control-label" %>
              <div class="controls"><%= f.text_field :scheme , placeholder: "Scheme", class: "input-mini" %></div>
            </div>
            <div class="control-group<% if @domain.errors["port"].any? %> error<% end %>">
              <%=  f.label :port, "Port", class: "control-label" %>
              <div class="controls"><%= f.text_field :port , placeholder: "Port", class: "input-mini"  %></div>
            </div>
            <div class="control-group<% if @domain.errors["domain"].any? %> error<% end %>">
              <%=  f.label :domain, "Domain", class: "control-label" %>
              <div class="controls"><%= f.text_field :domain , placeholder: "Page" %></div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="span6">
            <div class="control-group">
              <%=  f.label :active, "Check content for changes", class: "control-label" %>
              <div class="controls"><%= f.check_box :check_content_for_changes %></div>
            </div>
          </div>
          <div class="span6">
            <div class="control-group">
              <%=  f.label :check_publish_time, "Check publish times", class: "control-label" %>
              <div class="controls"><%= f.check_box :check_publish_time %></div>
            </div>

            <div class="control-group<% if @domain.errors["regx_publish_time"].any? %> error<% end %>">
              <%=  f.label :regx_publish_time, "Selector for publish times", class: "control-label" %>
              <div class="controls"><%= f.text_field :regx_publish_time, placeholder: "Regular expression" %></div>
            </div>
          </div>
        </div>


    <%= f.submit class: "btn btn-primary btn-small" %>
<% end %>