<%= render ("shared/show_notice_or_warning") %>

<div class="navbar navbar-inverse">
  <div class="navbar-inner">
    <span class="brand">Domain <%=  @domain.name %></span>
    <ul class="nav pull-right">
      <li><%= link_to "Edit Domain", edit_domain_path(domain_id: @domain.id) %></li>
    </ul>
  </div>
</div>

<ul class="nav nav-tabs" id="myTab" style="margin-bottom: 1px;">
  <li class="active"><a href="#default_parameters">Default Parameters</a></li>
  <li><a href="#check_parameters">Check Parameters</a></li>
  <li><a href="#statistics">Statistics</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="default_parameters">
    <dl class="dl-horizontal">
      <dt>Active</dt>
      <dd><%= @domain.active %>&nbsp;</dd>
      <dt>Name</dt>
      <dd><%= @domain.name %>&nbsp;</dd>
      <dt>Domain</dt>
      <dd><%= @domain.domain %>&nbsp;</dd>
      <dt>Description</dt>
      <dd><%= @domain.description %>&nbsp;</dd>
    </dl>
  </div>
  <div class="tab-pane" id="check_parameters">
    <dl class="dl-horizontal">
      <dt>Check changes</dt>
      <dd><%= @domain.checkContentForChanges %>&nbsp;</dd>
      <dt>ID Content</dt>
      <dd><%= @domain.mainContainer %>&nbsp;</dd>
      <dt>ID Navigation</dt>
      <dd><%= @domain.navigationContainer %>&nbsp;</dd>
      <dt>ID Subnavigation</dt>
      <dd><%= @domain.subnavigationContainer %>&nbsp;</dd>
      <dt>Check pub. time</dt>
      <dd><%= @domain.checkPublishTime %>&nbsp;</dd>
      <dt>Match</dt>
      <dd><%= @domain.regxPublishTime %>&nbsp;</dd>
    </dl>
  </div>
  <div class="tab-pane" id="statistics">
    <dl class="dl-horizontal">
      <dt>Pages</dt>
      <dd><%=  @domain.pages.count %>&nbsp;</dd>
    </dl>

  </div>
</div>

<script>
    $(function () {
        $('#myTab a').click(function (e) {
            e.preventDefault();
            $(this).tab('show');
        })
        $('#myTab a:first').tab('show');
    })
</script>

<%=  render("pages/index") %>