<div class="navbar navbar-inverse">
  <div class="navbar-inner">
    <span class="brand">Domain <%=  @domain.name %></span>
  </div>
</div>

<%= render ("shared/show_notice_or_warning") %>
<p>
Name <%= @domain.name %><br />
Domain <%= @domain.domain %><br />
Description <%= @domain.description %>
  RANK::GooglePR.new("http://www.facebook.com").page_rank
</p>

<%=  render("pages/index") %>