<div class="navbar navbar-inverse">
  <div class="navbar-inner">
    <span class="brand">Domain <%=  @domain.name %></span>
  </div>
</div>

<%= render ("shared/show_notice_or_warning") %>
<p>
Name <%= @domain.name %><br />
Url <%= @domain.path %><br />
Description <%= @domain.description %>
</p>

<%=  render("urls/index") %>