<%= render ("shared/show_notice_or_warning") %>
<%= render("domains/header", :type => 'parameter')%>

<p></p>
<%= render("help") %>
<%= link_to "Edit Domain", edit_domain_path(@domain.id), class: "btn"  %>

<div class="row">
  <div class="span6">
    <dl class="dl-horizontal">
      <dt>Active</dt>
      <dd><%= icon_boolean(@domain.active) %>&nbsp;</dd>
      <dt>Name</dt>
      <dd><%= @domain.name %>&nbsp;</dd>
      <dt>Domain</dt>
      <dd><%= link_to @domain.scheme + "://" + @domain.domain + (@domain.port ? ":"+@domain.port : "") , @domain.scheme + "://" + @domain.domain + (@domain.port ? ":"+@domain.port : ""), target: "_blank"  %></dd>
    </dl>
  </div>
  <div class="span6">
    <dl class="dl-horizontal">
      <dt>Description</dt>
      <dd><%= @domain.description %>&nbsp;</dd>
    </dl>
  </div>
</div>

<dl class="dl-horizontal">
  <dt>Check changes</dt>
  <dd><%= icon_boolean(@domain.check_content_for_changes) %>&nbsp;</dd>
  <dt>Check publish time</dt>
  <dd><%= icon_boolean(@domain.check_publish_time) %>&nbsp;</dd>
  <dt>Regex publish time</dt>
  <dd><%= @domain.regx_publish_time %></dd>
</dl>

<div class="row-fluid">
  <div class="span6">
    <div id='table'></div>
    <%= render_chart @table, 'table' %>
  </div>
  <div class="span6">
    <div id='chart'></div>
    <%= render_chart @chart, 'chart' %>
  </div>
</div>
