<%= form_for(@area, html: {class: "form-horizontal"}) do |f| %>
    <%= f.hidden_field :domain_id %>
    <% if @area.errors.any? %>
        <div id="errorExplanation"  class="alert alert-error">
          <button type="button" class="close" data-dismiss="alert">×</button>
          <h3><%= pluralize(@area.errors.count, "error") %> prohibited
            this page from being saved:</h3>
          <ul>
            <% @area.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="control-group<% if @area.errors["name"].any? %> error<% end %>">
      <%=  f.label :name,"Name", class: "control-label" %>
      <div class="controls"><%= f.text_field :name, class: "input-xxlarge" , placeholder: "Name" %></div>
    </div>

    <div class="control-group<% if @area.errors["filter_type_property_id"].any? %> error<% end %>">
      <%=  f.label :filter_type_property_id, "Filter type", class: "control-label" %>
      <div class="controls">
        <%=  f.collection_select :filter_type_property_id,
             Property.joins(:property_group).where(:property_groups => {:code => "filter_type"}).order(:row_order),
             :id, :name, {:prompt => true}, class:"" %>
      </div>
    </div>

    <div class="control-group<% if @area.errors["filter"].any? %> error<% end %>">
      <%=  f.label :filter , "Filter", class: "control-label" %>
      <div class="controls"><%= f.text_field :filter, class: "input-xxlarge" , placeholder: "Filtervalue" %></div>
    </div>

    <div class="control-group<% if @area.errors["interval_property_id"].any? %> error<% end %>">
      <%=  f.label :interval_property_id, "Check interval", class: "control-label" %>
      <div class="controls">
        <%=  f.collection_select :interval_property_id,
                                 Property.joins(:property_group).where(:property_groups => {:code => "interval"}).order(:row_order),
                                 :id, :name, {:prompt => true}, class:"" %>
      </div>
    </div>

    <div class="control-group">
      <div class="controls"><%= f.submit class: "btn btn-primary btn-small" %></div>
    </div>
<% end %>
