<div class="navbar navbar-inverse">
  <div class="navbar-inner">
    <span class="brand">Areas list</span>
    <ul class="nav pull-right">
      <li><%= link_to "Add Page", new_area_path(domain_id: @domain.id) %></li>
    </ul>
  </div>
</div>

<table>
  <tr>
    <th>Domain</th>
    <th>Name</th>
    <th>Filter</th>
    <th>Filtertype</th>
    <th>Sortorder</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @areas = @domain.areas.order("sort_order").page(params[:areas]).per(10) %>
<% @areas.each do |area| %>
  <tr>
    <td><%= area.name %></td>
    <td><%= area.filter_type_property.name %></td>
    <td><%= ""%></td>
    <td><%= link_to 'Show', area %></td>
    <td><%= link_to 'Edit', edit_area_path(area) %></td>
    <td><%= link_to 'Destroy', area, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>


<%= paginate @areas %>
