<%= render ("shared/show_notice_or_warning") %>
<%= render("domains/header", :type => 'areas')%>
<p></p>
<%= render("help") %>

<table id="sort" class="table table-striped table-hover">
  <thead>
  <tr>
    <th>Name</th>
    <th>Type</th>
    <th>Filter</th>
    <th>Check interval</th>
    <th><%= link_to "Add Area", new_area_path(domain_id: @domain.id), class: "btn" %></th>
    <th>Sort</th>
  </tr>
  </thead>

  <tbody>
  <% @areas.each do |area| %>
      <tr id="area_<%= area.id %>">
        <td><%= area.name %></td>
        <td><%= area.filter_type_property.name if area.filter_type_property != nil %></td>
        <td><%= area.filter %></td>
        <td><%= area.interval_property.name if area.interval_property != nil %></td>
        <td><div class="btn-group">
          <%=  link_to "Show", area, class: "btn" %>
          <%=  link_to "Edit", edit_area_path(area), class: "btn" %>
          <%=  link_to "Delete", area_path(area), method: :delete,  data: { confirm: 'Are you sure?' },  class: "btn btn-danger"%>
        </div>
        </td>
        <td class="handle">&nbsp;<i class="icon-align-justify"></i>&nbsp;</td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @areas %>

<script>
    var fixHelper = function(e, ui) {
        ui.children().each(function() {
            $(this).width($(this).width());
        });
        return ui;
    };

    $(document).ready(function(){
        $("#sort tbody").sortable({
            axis: 'y',
            handle: '.handle',
            cursor: 'crosshair',
            scroll: true,
            opacity: 0.7,
            helper: fixHelper,
            update: function(e, ui){
                id = ui.item.attr('id').substr(5);
                //alert (id);
                position = ui.item.index();
                $.ajax({
                    type: 'POST',
                    url: '/areas/sort',
                    dataType: 'json',
                    data: { id: id, row_order_position: position }
                })
                ui.item.children('td').effect('highlight', {}, 1000)
            }
        }).disableSelection();
    });
</script>