<div class="page-header">
  <h1>Area <small><%= @area.name %></small></h1>
</div>
<%= render ("help") %>
<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @area.name %>
</p>

<p>
  <b>Filtertype:</b>
  <%= @area.filter_type_property.name %>
</p>

<p>
  <b>Filter:</b>
  <%= @area.filter %>
</p>

<p>
  <b>Check interval:</b>
  <%= @area.interval_property.name %>
</p>
<%= link_to "Back", areas_path(domain_id: @area.domain_id),  class: "btn btn-danger " %>
