<h1>Listing checks</h1>

<table>
  <tr>
    <th>Prio</th>
    <th>Domain</th>
    <th>Url</th>
    <th>Resultcode</th>
    <th>Resulttext</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @checks.each do |check|
  WebPageAnalyser.check_page(check.id)
%>
  <tr>
    <td><%= check.priority %></td>
    <td><%= check.page.domain.domain %></td>
    <td><%= check.page.path %></td>
    <td><%= check.result_code %></td>
    <td><%= link_to 'Show', check %></td>
    <td><%= link_to 'Edit', edit_check_path(check) %></td>
    <td><%= link_to 'Destroy', check, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<%= paginate @checks %>

<br />

<%= link_to 'New Check', new_check_path %>
