<%= render("shared/show_notice_or_warning") %>
<%= render("domains/header", :type => 'checks')%>


<table class="table table-striped table-hover">
  <thead>
  <tr>
    <th>Prio</th>
    <!-- <th>Domain</th> -->
    <th>Url</th>
    <th>Resultcode</th>
    <th>Resulttext</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @checks.each do |check|
    WebPageAnalyser.check_page(check.id)
    a=check.id
  %>
      <tr>
        <td><%= check.priority %></td>
        <td><%= truncate(check.page.path.value, length:60) %></td>
        <td><%= check.result_code %></td>
        <td><div class="btn-group">
          <%=  link_to "Show", check, class: "btn btn-small" %>
          <%=  link_to "Edit", edit_check_path(check), class: "btn btn-small" %>
          <%=  link_to "Delete", check_path(check), method: :delete,  data: { confirm: 'Are you sure?' },  class: "btn btn-danger btn-small"%>
        </div>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
<%
   Browser::start_browser
   @checks.each do |check|
     Browser::create_screen_shot(check.page)
   end
   Browser::stop_browser
%>

<%= paginate @checks %>
