<p id="notice"><%= notice %></p>

<p>
  <b>Url:</b>
  <%= @check.page %>
</p>

<p>
  <b>Priority:</b>
  <%= @check.priority %>
</p>

<p>
  <b>Type:</b>
  <%= @check.type %>
</p>

<p>
  <b>Resultcode:</b>
  <%= @check.result_code %>
</p>

<p>
  <b>Resulttext:</b>
  <%= @check.result_text %>
</p>


<%= link_to 'Edit', edit_check_path(@check) %> |
<%= link_to 'Back', checks_path %>
