<ul class="nav nav-tabs" id="tab_header" style="margin-bottom: 1px;">
  <% @page.page_contents.
          includes(:content => :container).
          joins(:content => :container).order("containers.row_order").each do |page_content| %>
      <li><a href="#container_<%= page_content.id %>"><%= page_content.content.container.name %></a></li>
  <% end %>
</ul>

<div class="tab-content">
  <% @page.page_contents.joins(:content => :container).order("containers.row_order").each do |page_content| %>
      <div class="tab-pane" id="container_<%= page_content.id %>">
        From <%= page_content.from %> - until <%= page_content.until %><br/>
        Internal links <%= page_content.content.links_internal %>
        External links <%= page_content.content.links_external %>
        File links <%= page_content.content.links_file %><br/>
        Headlines <%= page_content.content.headlines %>
        Words <%= page_content.content.words %><br/>
        <div class="well">
        <%= raw  WebPageAnalyser.beautify_html(page_content.content.text) %>
        </div>
      </div>
  <% end %>
</div>

<script>
    $('#tab_header a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
    })
    $('#tab_header a:first').tab('show');
</script>

<script type="text/javascript">
    SyntaxHighlighter.all()
</script>