<p id="notice"><%= notice %></p>

<p>
  <b>Page:</b>
  <%= @page_content.page %>
</p>

<p>
  <b>Content:</b>
  <%= @page_content.content %>
</p>

<p>
  <b>From:</b>
  <%= @page_content.from %>
</p>

<p>
  <b>Until:</b>
  <%= @page_content.until %>
</p>


<%= link_to 'Edit', edit_page_content_path(@page_content) %> |
<%= link_to 'Back', page_contents_path %>
